.container {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   padding-right: 8px;
   padding-left: 8px;
   @media #{$small-and-up} {max-width: 100%;}
   @media #{$small-and-up} {width: 560px;}
   @media #{$medium-and-up} {width: 752px;}
   @media #{$large-and-up} {width: 976px;}
   @media #{$extra-large-and-up} {width: 1184px;}
}

.container-fluid {
   padding-right: 16px;
   padding-left: 16px;
}

.row {
   box-sizing: border-box;
   display: flex;
   flex: 0 1 auto;
   flex-direction: row;
   flex-wrap: wrap;
   margin-right: -8px;
   margin-left: -8px;
   &:after {
      content: "";
      display: table;
      clear: both;
   }
   .reverse {flex-direction: row-reverse;}
}

// Mixins to eliminate code repitition
@mixin extra-flex-classes($size) {
   &.#{$size} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
   }
   &.start-#{$size} {justify-content: flex-start; text-align: start;}
   &.center-#{$size} {justify-content: center; text-align: center;}
   &.end-#{$size} {justify-content: flex-end; text-align: end;}
   &.top-#{$size} {align-items: flex-start;}
   &.middle-#{$size} {align-items: center;}
   &.bottom-#{$size} {align-items: flex-end;}
   &.around-#{$size} {justify-content: space-around;}
   &.between-#{$size} {justify-content: space-between;}
   &.first-#{$size} {order: -1;}
   &.last-#{$size} {order: 1;}
   &.initial-order-#{$size} {order: initial;}
}
@mixin reset-offset {
   margin-left: auto;
   left: auto;
   right: auto;
}
@mixin grid-classes($size, $i, $perc) {
   // @if $size <= 11
   &.offset-#{$size}#{$i} {
      margin-left: $perc;
   }
}
// @mixin grid-constructor($size) {
//    $i: 1;
//    @while $i <= $num-cols {
//       $perc: unquote((100 / ($num-cols / $i)) + "%");
//       $size: "xs";
//       &.#{$size}#{$i} {
//          flex-basis: $perc;
//          max-width: $perc;
//          @include reset-offset;
//       }
//       @include grid-classes($size, $i, $perc);
//       @include extra-flex-classes($size);
//       $i: $i + 1;
//    }
// }

.col {
   box-sizing: border-box;
   flex: 0 0 auto;
   padding-right: 8px;
   padding-left: 8px;
   .reverse {flex-direction: column-reverse;}

   $i: 1;
   @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      $size: "xs";
      &.#{$size}#{$i} {
         flex-basis: $perc;
         max-width: $perc;
         @include reset-offset;
      }
      @include grid-classes($size, $i, $perc);
      @include extra-flex-classes($size);
      $i: $i + 1;
   }

   @media #{$small-and-up} {
      $i: 1;
      @while $i <= $num-cols {
         $perc: unquote((100 / ($num-cols / $i)) + "%");
         $size: "s";
         &.#{$size}#{$i} {
            flex-basis: $perc;
            max-width: $perc;
            @include reset-offset;
         }
         @include grid-classes($size, $i, $perc);
         @include extra-flex-classes($size);
         $i: $i + 1;
      }
   }
   @media #{$medium-and-up} {
      $i: 1;
      @while $i <= $num-cols {
         $perc: unquote((100 / ($num-cols / $i)) + "%");
         $size: "m";
         &.#{$size}#{$i} {
            flex-basis: $perc;
            max-width: $perc;
            @include reset-offset;
         }
         @include grid-classes($size, $i, $perc);
         @include extra-flex-classes($size);
         $i: $i + 1;
      }
   }
   @media #{$large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
         $perc: unquote((100 / ($num-cols / $i)) + "%");
         $size: "l";
         &.#{$size}#{$i} {
            flex-basis: $perc;
            max-width: $perc;
            @include reset-offset;
         }
         @include grid-classes($size, $i, $perc);
         @include extra-flex-classes($size);
         $i: $i + 1;
      }
   }
   @media #{$extra-large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
         $perc: unquote((100 / ($num-cols / $i)) + "%");
         $size: "xl";
         &.#{$size}#{$i} {
            flex-basis: $perc;
            max-width: $perc;
            @include reset-offset;
         }
         @include grid-classes($size, $i, $perc);
         @include extra-flex-classes($size);
         $i: $i + 1;
      }
   }
}
